@import './helpers';


.ckl-app-security_login {
    .loginWelcome {
        // Remove background design 
         &::before {
            content: '';
         }
    
        // Remove background design 
         &::after {
            content: '';
         }
        
        /*
         * Change the login form icon and text
         */
        .loginWelcome__header {
            .loginWelcome__logo {
                svg {
                    display: none !important;
                }
        
                &:after {
                    content: '';
                    display: flex;
                    background-position: center;
                    background-image: var(--ckl-logo-no-text-url, url('../assets/whale-tales-logo-no-text.png'));
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 48px;
                    height: 48px;
                }
            }
        
            .loginWelcome__title {
                @include hideOldContent;
        
                &:after {
                    @include showNewContent;
                    content: var(--ckl-welcome-text, 'Welcome to Whales Tales');
                }
            }
        
        }
        
        .loginWelcome__content {
            .euiCallOut {
                background-color: aliceblue;
            }
        
            .euiCallOut .euiCallOutHeader__title {
                @include hideOldContent;
                &:after {
                    @include showNewContent;
                    color: var(--ckl-primary-color, darkblue) !important;
                    content: var(--ckl-logout-text, 'You have logged out of Whales Tales.');

                }
            }
        }
    }
}
